<%- include ('partials/header.ejs') %>
  <body>
    
    <%- include ('partials/navbar.ejs') %>

    <div class="container">

        <hr>
        <h1><%= pergunta.titulo %> </h1>

        <h5> <%= pergunta.descricao %> </h5>
        <hr>

    </div>  


  </body>

  <%- include ('partials/footer.ejs') %>
